.index-upper {
  display: inline-block;
  padding: 15px 25px; 
  margin: 10px;
  background-color: #8bc3c0;  
  color: #FFFFFF;
  font-size: 14px; 
  border: 2px solid #4040bf;
  border-radius: 3px;
}

.index-rep-container {	
 background-color: transparent;
 color: #0627f9;
 font-size: 28px; 
 padding: 10px;
 margin-bottom: 10px;
 border-radius: 5px;    
}

.centered-block {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            height: 200px;                        
            text-align: center;
        }

.index-button {
  display: inline-block;
  padding: 15px 25px; 
  margin: 10px;
  background-color: #8BC3A4;  
  color: #FFFFFF;
  font-size: 14px; 
  border: 2px solid #68F938;
  border-radius: 3px;  
  text-decoration: none;  
}

.index-button:hover {
  background-color: #68F938;
  border-color: #FF691E;
}

.tutor-button {
  display: inline-block;
  padding: 15px 25px;
  margin: 10px;
  background-color: #8BC34A;
  color: #FFFFFF;
  font-size: 32px;
  border: 2px solid #689F38;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.tutor-button:hover {
  background-color: #689F38;
  border-color: #33691E;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    }

.content {
    flex: 1;
    border: 1px solid black;
    }

body {
	background-color: #888888;
    /*background-image: url("../images/background.png");*/
    background-size: cover;	
}

table {
    border-collapse: collapse;
	width: 500px;
}

td {
    padding: 5px;	
	border: none;
}

td input {
    border-width: 2px;
	border-radius: 3px;
    width: 100%;
    background-color: transparent;
	font-size:18px;
}

